$fg: #c9c3e5;
$fg-mid: #a199cc;
$fg-dark: #656080;
$bg: #262433;
$bg-dark: #131119;
$accent: #e5227a;
$accent-dark: #b20050;
$shadow: #13111980;
$overlay: #17141fb3;
$border-width: 2px;
$border-radius: 8px;
$transition: 200ms ease;
