.toastify {
  display: flex;
  align-items: baseline;
  padding: 0.6rem;
  color: $fg;
  background: $blue;
  border-radius: $border-radius;
  font-size: 0.9rem;
  user-select: none;
  box-shadow: 0 2px 8px 0 rgb(0, 0, 0, 0.2);

  button {
    display: block;
    margin-left: 0.6rem;
    padding: 0;
    line-height: 0.6;
  }
}
